@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 60px 1fr 60px;
}

html,
body {
  height: 100%;
}

#__next {
  min-height: 100%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  padding: 32px 0;
}

.footer {
  grid-area: footer;
}
